fastapi==0.111.0
uvicorn[standard]==0.29.0
python-dotenv==1.0.1
pydantic[email]==2.7.1
aiosqlite==0.20.0
bcrypt==4.1.3
PyJWT==2.8.0
requests==2.31.0
numpy==1.26.4
opencv-python-headless==4.9.0.80
librosa==0.10.2
joblib==1.4.2
deepface==0.0.93
tf-keras==2.16.0
transformers==4.40.2
torch==2.2.2
